{% extends 'PublishMyCodeBundle::base.html.twig' %}

{% block body %}
<div class="row">
	<div class="span4">
		<h2>{{ salut }}</h2>
<pre>
-module(test);
-export([start/0]);

start() ->
	coucou.
{# post.code #}
</pre>
	</div>
</div>
{% endblock %}